*{margin:0;padding:0;}
a{
    text-decoration: none;
    color: #666;
}
ul{list-style: none;}
.banner{
    width:1920px;
    overflow: hidden;
}
.current a{
    font-weight:bold;
    color:#111;
}
.banner-img ul{
    position: relative;
    left:0;
    display:flex;
    width:700%;
}
.my_header{
    width:100%;
    z-index:1;
}
.my_footer{
    width:100%;
    height:650px;
    z-index:1;
}
.banner-img ul li{
    box-sizing: border-box;
}
.banner-btn{
    display: flex;
    margin:30px 280px;
    text-align:center;
}
.banner-btn-list{
    width:1254px;
    margin: 0 auto;
    overflow: hidden;  
}
.banner-btn ul{
    display: flex;
    width:300%;
    font-size: 24px;
}
.banner-btn ul li{
    width:250px;
    height: 100px;
}
.banner-btn-left{
    width:0;
    height:0;
    display: inline-block;
    border-right:20px solid #666;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left: none;
}
.banner-btn-right{
    width: 0;
    height:0;
    display: inline-block;
    border-left:20px solid #666;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right: none;
}
.product-list1{
    width:1254px;
    display:flex;
    margin:0 auto;
}
.product-list2{
    background: #f4f4f4;  
}
.product-list2>div{
    width:1254px;
        margin: 0 auto; 
}
.product-title1{
    margin:100px 0 50px 0;
    text-align: center;
    color:#333;
}
.product-title-list{
    display: flex;
}
#p-t-list1{

}
.p-l2-t-l{

}
