		a{text-decoration:none;}
		#login_logo{
			width:250px;
			margin-right:1100px;
			margin-bottom:50px;
		}
		#login_bg{
			position:relative;
		}
		#loginForm{
			position:relative;
			right:-500px;
			top:-800px;
			width:400px;
			background-color:white;
			padding:20px;
			height:410px;
		}
		.login_login{
			width:380px;
			height:50px;
			margin:8px 0px;
		}
		.input,div button{
			height:50px;
			border:1px solid #ccc;
			border-radius:40px;
			font-size:16px;
			padding:0px;
		}
		input.loginLow{
			border:0;
			width:140px;
			font-size:16px;
			height:40px;
		}
		.ico{
			width:30px;
			position:relative;
			top:10px;
		}
		input:focus{
			outline:none;
		}
		#input_phone{
			width:300px;
		}
		#login_button{
			height:52px;
			width:378px;
			background-color:#555;
			color:white;
		}
		#dynamic_code{
			height:52px;
			width:150px;
			background-color:#555;
			color:white;
			position:relative;
			bottom:52px;
			left:114px;
		}
		#Input_code{
			width:220px;
			margin:0;
			position:relative;
			right:80px;
		}
		p.p1{
			height:10px;
			font-size:5px;
			margin:0;
		}
		#login-a{
			padding:10px;
			height:30px;
		}
		#a1{
			margin-right:230px;
			color:black;
			font-size:12px;
			font-weight:bold;
		}
		#a2{
			color:black;
			font-size:12px;
			font-weight:bold;
		}
		.loginFont{
			text-align:center;
			font-size:26px;
			padding:0px 16px;
			color:black;
		}
		#login-footer{
			color:#444;
			font-size:18px;
			margin:100px 0; 
		}
		div div#footer1 a{
			color:#444;
			margin:0 5px;
		}
		div div#footer1 img{
			margin:0 5px;
		}
		div div#footer2 a{
			color:#444;
		}
		#footer2{
			margin:20px;
		}